$nav-button-color: #00838F;

$color-login-bg: #2c3e50;
$color-login-form-bg: #bdc3c7;
$color-font: #2c3e50;
$color-btn-bg: #1abc9c;
$color-btn-bg-hover: #16a085;

$font-input: 14px;
$font-button: 18px;
